#!/bin/bash

hardenhomepath='{{ harden_home_path }}'

mkdir $hardenhomepath/sxibackupbefore
cd $hardenhomepath/sxibackupbefore
cp /etc/passwd $hardenhomepath/sxibackupbefore/
cat /etc/passwd | awk -F: '($3 == 0) { print $1 }' >> $hardenhomepath/sxibackupbefore/passwd-awk.txt
uname -r >> $hardenhomepath/sxibackupbefore/uname.txt
yum info kernel -q >> $hardenhomepath/sxibackupbefore/kernel.txt
chage -l root >> $hardenhomepath/sxibackupbefore/chage-root.txt
/usr/bin/find / -name .rhosts -exec ls -ldb {} \; -exec cat {} \; >> $hardenhomepath/sxibackupbefore/rhosts.txt
/usr/bin/find / -name .netrc -exec ls -ldb {} \; -exec cat {} \; >> $hardenhomepath/sxibackupbefore/netrc.txt
/usr/bin/find / -name .shosts -exec ls -ldb {} \; -exec cat {} \; >> $hardenhomepath/sxibackupbefore/shosts.txt
sleep 3
find / -perm -o+w -exec ls -ldb {} \; >> $hardenhomepath/sxibackupbefore/perm.txt
find / -perm -o+w \( -type d \) -exec ls -ldb {} \; >> $hardenhomepath/sxibackupbefore/perm-typed.txt
find / \( -nouser -o -nogroup \) -exec ls -ld {} \; >> $hardenhomepath/sxibackupbefore/nouser-nogroup.txt
find / \( -perm -4000 -o -perm -2000 \) -type f -exec ls -ld {} \; >> $hardenhomepath/sxibackupbefore/perm-4000.txt
find / \( -perm -4000 -user root \) -type f -exec ls -ld {} \; >> $hardenhomepath/sxibackupbefore/perm-user-4000.txt
find / \( -perm -4000 -user bin \) -type f -exec ls -ld {} \; >> $hardenhomepath/sxibackupbefore/perm-user-bin.txt
find / \( -perm -4000 -o -perm -2000 \) -type f -exec ls -ld {} \; >> $hardenhomepath/sxibackupbefore/perm-perm.txt
chkconfig --list | grep -i sshd >> $hardenhomepath/sxibackupbefore/sshd.txt
ps -ef >> $hardenhomepath/sxibackupbefore/ps-ef.txt
lsof -i >> $hardenhomepath/sxibackupbefore/lsof-i.txt
ps -aux | grep sshd >> $hardenhomepath/sxibackupbefore/sshd-verif.txt
service sshd status >> $hardenhomepath/sxibackupbefore/sshd-status.txt
rpm -qa | grep -i ssh >> $hardenhomepath/sxibackupbefore/sshd-check-package.txt
ps -ef | grep syslogd >> $hardenhomepath/sxibackupbefore/syslogd.txt
ps -ef | grep ntpd >> $hardenhomepath/sxibackupbefore/ntpd-checking.txt
rpm -qa | grep -i ntp >> $hardenhomepath/sxibackupbefore/ntp-verify.txt
service ntpd status >> $hardenhomepath/sxibackupbefore/ntpd-status.txt
sleep 3
yum check-update >> $hardenhomepath/sxibackupbefore/check-update.txt
cp /etc/selinux/config $hardenhomepath/sxibackupbefore/
cp /etc/group $hardenhomepath/sxibackupbefore/
cp /etc/fstab $hardenhomepath/sxibackupbefore/
cp /boot/grub2/grub.cfg $hardenhomepath/sxibackupbefore/
cp /boot/grub2/user.cfg $hardenhomepath/sxibackupbefore/
cp /etc/yum.conf $hardenhomepath/sxibackupbefore/
cp /etc/hosts.allow $hardenhomepath/sxibackupbefore/
cp /etc/hosts.deny $hardenhomepath/sxibackupbefore/
cp /etc/security/limits.conf $hardenhomepath/sxibackupbefore/
cp /etc/sysctl.conf $hardenhomepath/sxibackupbefore/
cp /etc/modprobe.d/blacklist-wireless $hardenhomepath/sxibackupbefore/
cp /etc/sysconfig/init $hardenhomepath/sxibackupbefore/
cp /etc/sysconfig/network $hardenhomepath/sxibackupbefore/
cp /etc/default/grub $hardenhomepath/sxibackupbefore/
cp /etc/gshadow $hardenhomepath/sxibackupbefore/
cp /etc/shadow $hardenhomepath/sxibackupbefore/
cp /etc/cshrc $hardenhomepath/sxibackupbefore/
cp /etc/csh.cshrc $hardenhomepath/sxibackupbefore/
cp /root/.bashrc $hardenhomepath/sxibackupbefore/
cp /root/.bash_profile $hardenhomepath/sxibackupbefore/
cp /root/.cshrc $hardenhomepath/sxibackupbefore/
cp /root/.tcshrc $hardenhomepath/sxibackupbefore/
sleep 3
cp /etc/modprobe.d/ipv6.conf $hardenhomepath/sxibackupbefore/
cp /etc/sysconfig/prelink $hardenhomepath/sxibackupbefore/
cp /etc/rsyslog.conf $hardenhomepath/sxibackupbefore/
cp /etc/audit/auditd.conf $hardenhomepath/sxibackupbefore/
cp /etc/audit/audit.rules $hardenhomepath/sxibackupbefore/
cp /etc/logrotate.d/syslog $hardenhomepath/sxibackupbefore/
cp /etc/crontab $hardenhomepath/sxibackupbefore/
cp /etc/at.deny $hardenhomepath/sxibackupbefore/
cp /etc/at.allow $hardenhomepath/sxibackupbefore/
cp /etc/cron.allow $hardenhomepath/sxibackupbefore/
cp /etc/cron.deny $hardenhomepath/sxibackupbefore/
cp /etc/ssh/sshd_config $hardenhomepath/sxibackupbefore/
cp /etc/vsftpd/ftpusers $hardenhomepath/sxibackupbefore/
cp /etc/profile $hardenhomepath/sxibackupbefore/
cp /etc/profile.d/os-security.sh $hardenhomepath/sxibackupbefore/
cp /etc/pam.d/system-auth $hardenhomepath/sxibackupbefore/
sleep 3
cp /etc/pam.d/password-auth $hardenhomepath/sxibackupbefore/
cp /etc/security/pwquality.conf $hardenhomepath/sxibackupbefore/
cp /etc/securetty $hardenhomepath/sxibackupbefore/
cp /etc/login.defs $hardenhomepath/sxibackupbefore/
cp /etc/bashrc $hardenhomepath/sxibackupbefore/
cp /etc/pam.d/login $hardenhomepath/sxibackupbefore/
cp /etc/pam.d/gdm-password $hardenhomepath/sxibackupbefore/
cp /etc/motd $hardenhomepath/sxibackupbefore/
cp /etc/issue $hardenhomepath/sxibackupbefore/
cp /etc/issue.net $hardenhomepath/sxibackupbefore/
cp /etc/vsftpd/vsftpd.conf $hardenhomepath/sxibackupbefore/
cp /etc/grub.d/00_header $hardenhomepath/sxibackupbefore/
sleep 3
systemctl list-unit-files >> $hardenhomepath/sxibackupbefore/services.txt
ls -al / | grep "root" >> $hardenhomepath/sxibackupbefore/rootACL.txt
ls -al /etc/rsyslog.conf >> $hardenhomepath/sxibackupbefore/ACLs.txt
ls -al boot/grub2/grub.cfg >> $hardenhomepath/sxibackupbefore/ACLs.txt
ls -al /etc/group >> $hardenhomepath/sxibackupbefore/ACLs.txt
ls -al /etc/passwd >> $hardenhomepath/sxibackupbefore/ACLs.txt
ls -al /etc/shadow >> $hardenhomepath/sxibackupbefore/ACLs.txt
ls -al /etc/crontab >> $hardenhomepath/sxibackupbefore/CronACLs.txt
ls -al /etc/cron.hourly >> $hardenhomepath/sxibackupbefore/CronACLs.txt
ls -al /etc/cron.daily >> $hardenhomepath/sxibackupbefore/CronACLs.txt
ls -al /etc/cron.weekly >> $hardenhomepath/sxibackupbefore/CronACLs.txt
ls -al /etc/cron.d >> $hardenhomepath/sxibackupbefore/CronACLs.txt
ls -al /etc/cron.monthly >> $hardenhomepath/sxibackupbefore/CronACLs.txt
